html {
    box-sizing: border-box;
}

*, *:before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    overflow-y: auto;
}

footer {
    flex-shrink: 0;
}