<% layout('layouts/boilerplate') %>
    <div class="container vw-100 d-flex pt-5 justify-content-center">
        <div class="row">
            <div class="col col-xs-12 col-sm-10 col-md-8 col-lg-6 mb-3 mx-auto"
                style="min-width: 600px;max-width: fit-content;">
                <div class="card">
                    <h5 class="card-header h5 text-center">Photo Booth</h5>
                    <div class="card-body">
                        <p class="card-text">This is the photo booth page. You can capture photos using your camera or
                            upload existing photos from your device.</p>
                        <p class="card-text">Use the buttons below to start the camera, capture a photo, or stop the
                            camera. You can also upload a photo using the form provided.</p>
                        <p class="card-text">Your captured photos will appear in the gallery on the right side of the
                            page.</p>
                    </div>
                    <div class="card-body">
                        <div class="booth">
                            <video id="video" width="100%" height="100%" autoplay class="mb-1"></video>
                        </div>
                        <div class="text-right">
                            <button class="btn btn-danger" id="captureBtn">Capture</button>
                            <button class="btn btn-success" id="startCameraBtn">Start Camera</button>
                            <button class="btn btn-warning" id="stopCameraBtn">Stop Camera</button>
                        </div>
                        <hr>
                        <div class="text-right">
                            <form action="/photosession/upload" method="POST" enctype="multipart/form-data">
                                <div class="mb-3">
                                    <input type="file" name="photo" class="form-control" id="photoInput" required>
                                </div>
                                <button type="submit" class="btn btn-primary">Upload</button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col col-xs-12 col-sm-2 col-md-4 mx-auto" style="min-width: 600px;">
                <div class="card">
                    <h5 class="card-header h5 text-center">Gallery</h5>
                    <div class="card-body">
                        <p class="card-text">Your captured photos will appear here.</p>
                        <div class="gallery mt-4 border rounded p-3 mb-2" style="max-height: 72vh; overflow-y: auto;">
                            <div id="photos"></div>
                        </div>
                        <button class="btn btn-success" id="selectImageBtn">Select Image</button>
                        <form id="selectImageForm" action="/photosession/select" method="POST" style="display:none;">
                            <input type="hidden" name="image" id="selectedDataUrl" />
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>